service evs_app_epam /system/bin/evs_app_epam
    class hal
    priority -20
    user automotive_evs
    group automotive_evs
    disabled # will not automatically start with its class; must be explictly started.

on property:sys.boot_completed=1
    # start evs_app_epam
