# Allow socket
typeattribute hal_evs_driver hal_automotive_socket_exemption;
net_domain(hal_evs_driver)

allow hal_evs_driver fwmarkd_socket:sock_file write;
allow hal_evs_driver self:tcp_socket { create getopt read setopt write };

userdebug_or_eng(`
    dontaudit hal_evs_driver netd:unix_stream_socket connectto;
')

